<!-- Exercice 4 - Step 3 of the Running Project - Adopt a Dog/Cat -->
<!-- Contact Us page -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Exercice 4 - Contact Us</title>
        <link rel="stylesheet" href="Question7.css">
        <meta charset="utf-8">
        <script src="javascript.js"></script>
    </head>
    <body>
        <!-- header of the webpage -->
        <%- include('header') %>

        <!-- Side menu bar-->
        <%- include('menu') %>

        <!-- Content of the contact us-->
        <div class="content">
            <h1>Contact Us</h1>
            <p style="padding-right: 2em;">Little Paws Animal Rescue Organization's members are here to help you!
                Whether you have any questions or feedback, don't hesitate to reach out to us
                by consulting the informations below, and we will get back to you as soon as possible.
            </p>
            <ul id="contact_us">
                <li style="text-decoration: underline; font-size: 25px; font-weight: bold;">Contact info:</li>
                <li><br></li>
                <li style="padding-bottom: 1em;">Fouad Meida (Founder & Executive Director)</li>
                <li style="padding-bottom: 1em;">ID: 40249310</li>
                <li>Email:</li>
                <li>
                    <ul>
                        <li style="list-style-type: disc;">For general questions, filing complaints and feedback: f_meida@live.concordia.ca</li>
                        <li style="list-style-type: disc;">For donations to Little Paw Association: jadfmzm@hotmail.com</li>
                    </ul>
                </li>
                <li>
                    <dl>
                        <dt>Address:</dt>
                        <dd>1465 rue Lennox, app.2</dd>
                        <dd>Laval, QC, Canada</dd>
                        <dd>ZIP Code: H7W 2Y4</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>Phone Number:</dt>
                        <dd>(514) 589-1237</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>Normal Buisness Hours:</dt>
                        <dd>Monday to Friday, 9 a.m. to 5 p.m.</dd>
                    </dl>
                </li>
            </ul>
        </div>
                
       <!-- Footer -->
       <%- include('footer') %>
       
    </body>
</html>

<!-- Bibliography:
    - LOGO: The logo for this website page was created using Canva.com
    reference: https://www.canva.com/design/play?type=TAB7AVEOUWQ&category=tACZCvjI6mE&locale=en
-->