<!-- Exercice 4 - Step 3 of the Running Project - Adopt a Dog/Cat -->
<!-- Dog care page -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Exercice 4 - Dog Care</title>
        <link rel="stylesheet" href="Question7.css">
        <meta charset="utf-8">
        <script src="javascript.js"></script>
    </head>
    <body>
        <!-- header of the webpage -->
        <%- include('header') %>

        <!-- Side menu bar-->
        <%- include('menu') %>

        <!-- Content of the contact us-->
        <div class="content">
            <h1>General Dog Care</h1> <br> <br>
            <img src="dog1.jpg" alt="General Dog Care" width="780" height="375"> 
            <p>
                A dog can be a wonderful addition to any home, but whether you're an experienced pet parent or a first-time adopter,
                it's important to keep your canine companion's health and happiness a top priority. Below are some useful tips for all dog parents.
            </p>
            <p>
                And remember: If you're considering bringing home a new dog, please make adoption your first option. We encourage you to browse our directory of
                <span class="link"><a href="browse_available_pets.html">Browse Available Pets</a></span> to start your search.
            </p>
            <h2>Feeding</h2>
            <ul>
                <li>Puppies eight to 12 weeks old need four meals a day.</li>
                <li>Feed puppies three to six months old three meals a day.</li>
                <li>Feed puppies six months to one year two meals a day.</li>
                <li>When your dog reaches his first birthday, one meal a day is usually enough.</li>
                <li>For some dogs, including larger canines or those prone to bloat, it's better to feed two smaller meals.</li>
            </ul>
            <p>
                Premium-quality dry food provides a well-balanced diet for adult dogs and may be mixed with water, broth or canned food. Your dog may enjoy cottage cheese,
                cooked egg or fruits and vegetables, but these additions should not total more than ten percent of his daily food intake.
            </p>
            <p>
                Puppies should be fed a high-quality, brand-name puppy food (large breed puppy foods for large breeds). Please limit "people food," however,
                because it can result in vitamin and mineral imbalances, bone and teeth problems and may cause very picky eating habits and obesity.
                Clean, fresh water should be available at all times, and be sure to wash food and water dishes frequently.
            </p>
            <h2>Exercice</h2>
            <p>
                Dogs need exercise to burn calories, stimulate their minds, and stay healthy. Individual exercise needs vary based on breed or breed mix, sex, age and level of health.
                Exercise also tends to help dogs avoid boredom, which can lead to destructive behaviors. Supervised fun and games will satisfy many of your pet's instinctual urges to dig, herd, chew, retrieve and chase.
            </p>
            <h2>Grooming</h2>
            <p>
                Help keep your dog clean and reduce shedding with frequent brushing. Check for fleas and ticks daily during warm weather. Most dogs don't need to be bathed more than a few times a year.
                Before bathing, comb or cut out all mats from the coat. Carefully rinse all soap out of the coat, or the dirt will stick to soap residue. Please visit the
                <span class="link"> <a href="https://www.aspca.org/pet-care/dog-care/dog-grooming-tips" target="_blank">Dog Grooming Tips page</a></span> for more information.
            </p>
            <h2>Handling</h2>
            <p>
                To carry a puppy or small dog, place one hand under the dog's chest, with either your forearm or other hand supporting the hind legs and rump.
                Never attempt to lift or grab your puppy or small dog by the forelegs, tail or back of the neck. If you do have to lift a large dog, lift from the underside,
                supporting his chest with one arm and his rear end with the other.
            </p>
            <h2>Housing</h2>
            <p>
                Your pet needs a warm, quiet place to rest, away from all drafts and off the floor. A training crate or dog bed is ideal, with a clean blanket or pillow placed inside. Wash the dog's bedding often.
                If your dog will be spending a lot of time outdoors, be sure she has access to shade and plenty of cool water in hot weather, and a warm, dry, covered shelter when it's cold. 
            </p>
            <h2>Licensing and Identification</h2>
            <p>
                Follow your community’s licensing regulations. Be sure to attach the license to your dog’s collar. This, along with an ID tag and implanted microchip or tattoo, can help secure your dog’s return should she become lost.
            </p>
            <h2>Fleas and Ticks</h2>
            <p>
                Daily inspections of your dog for fleas and ticks during the warm seasons are important. Use a flea comb to find and remove fleas. There are several new methods of flea and tick control.
                Speak to your veterinarian about these and other options. Visit the <span class="link"><a href="https://www.aspca.org/pet-care/general-pet-care/fleas-and-ticks" target="_blank">Fleas and Ticks page</a></span> for more information.
            </p>
            <h2>Medicines and Poisons</h2>
            <p>
                Never give your dog medication that has not been prescribed by a veterinarian. If you suspect that your animal has ingested a poisonous substance, call your veterinarian or the ASPCA Animal Poison Control Center for 24-hour animal poison information at 1 (888) 426-4435.
            </p>
            <h2>Spaying and Neutering</h2>
            <p>
                Female dogs should be spayed and male dogs neutered by six months of age. Please visit the
                <span class="link"><a href="https://www.aspca.org/pet-care/general-pet-care/spayneuter-your-pet" target="_blank">Spay/Neuter Your Pet</a></span>
                page to learn more.
            </p>
            <h2>Vaccinations</h2>
            <p>
                Your dog may benefit from receiving a number of vaccinations. Please visit the
                <span class="link"><a href="https://www.aspca.org/pet-care/general-pet-care/vaccinations-your-pet" target="_blank">Pet Vaccinations page</a></span>
                to learn more.
            </p>
            <h2>Dog Supply Checklist</h2>
            <ul>
                <li>Premium-quality dog food and treats</li>
                <li>Food dish</li>
                <li>Water bowl</li>
                <li>Toys, toys and more toys, including safe chew toys</li>
                <li>Brush & comb for grooming, including flea comb</li>
                <li>Collar with license and ID tag</li>
                <li>Leash</li>
                <li>Carrier (for smaller dogs)</li>
                <li>Training crate</li>
                <li>Dog bed or box with warm blanket or towel</li>
                <li>Dog toothbrush</li>
            </ul>
            <h2>The Scoop on Poop</h2>
            <p>
                Keep your dog on a leash when you are outside, unless you are in a secured, fenced-in area. If your dog defecates on a neighbor's lawn, the sidewalk or any other public place, please clean it up.
            </p>
        </div>

        <!-- Footer -->
        <%- include('footer') %>
    </body>
</html>

<!-- Bibliography:
    - LOGO: The logo for this website page was created using Canva.com
    reference: https://www.canva.com/design/play?type=TAB7AVEOUWQ&category=tACZCvjI6mE&locale=en
    - PHOTO: General Dog Care. (dog1.jpg). , (n.d.). Retrieved from
    https://www.aspca.org/pet-care/dog-care/general-dog-care
    - TEXT: "General Dog Care". ASPCA. 
    https://www.aspca.org/pet-care/dog-care/general-dog-care , accessed February 6, 2024.
-->