<!-- Exercice 4 - Step 3 of the Running Project - Adopt a Dog/Cat -->
<!-- give away done page -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Exercice 4 - Give Away Done</title>
        <link rel="stylesheet" href="Question7.css">
        <script src="javascript.js"></script>
        <meta charset="utf-8">
    </head>
    <body>
        <!-- header of the webpage -->
        <%- include('header') %>

        <!-- Side menu bar-->
        <%- include('menu') %>

        <!-- Content of the home page-->
        <div class="content">
            <h2>The form to give away pet has been submitted successfully!</h2>
            <p>To return to the Home Page, please 
            <span class="link"><a href="/home_page">click here.</a></span>
            </p>
        </div>

        <!-- Footer -->
        <%- include('footer') %>

    </body>
</html>

<!-- Bibliography:
    - LOGO: The logo for this website page was created using Canva.com
    reference: https://www.canva.com/design/play?type=TAB7AVEOUWQ&category=tACZCvjI6mE&locale=en
-->