<!-- Header of the Website page-->
<header>
    <table>
        <tr>
            <td>
                <a href="/home_page">
                    <img src="Little_Paws_Logo.png" alt="Little Paws: When Tiny Steps Leads to Big Hearts"
                    width="220" height="115" id="logo">
                </a>
            </td>
            <td><h1 id="title">  LITTLE  PAWS  </h1></td>
            <td id="time" onload="time()"></td>
        </tr>
    </table>
</header>