<!-- Exercice 4 - Step 3 of the Running Project - Adopt a Dog/Cat -->
<!-- Log out page -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Exercice 4 - Log Out page</title>
        <link rel="stylesheet" href="Question7.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <script src="javascript.js"></script>
    </head>
    <body>
        <!-- header of the webpage -->
        <%- include('header') %>

        <!-- Side menu bar-->
        <%- include('menu') %>

        <!-- Content of the home page-->
            <div class="content">
                <h1>Log out</h1>
                <h3>Are you sure you want to log out?</h3>
                <form action="/log_out" method="post">
                    <button type="submit" style="margin-left: 20px;">Log Out</button>
                </form>
                <p style="margin-left: 20px; color: blue;">
                    <%= message %>
                </p>
            </div>  
        
        <!-- Footer -->
        <%- include('footer') %>
    </body>
</html>

<!-- Bibliography:
    - LOGO: The logo for this website page was created using Canva.com
    reference: https://www.canva.com/design/play?type=TAB7AVEOUWQ&category=tACZCvjI6mE&locale=en
-->