<!-- Side menu bar -->
<div id="menu">
    <p><a href="/home_page">Home Page</a></p>
    <p><a href="/create_account">Create an Account</a></p>
    <p><a href="/find_pet">Find a Dog/Cat</a></p>
    <p><a href="/dog_care">Dog Care</a></p>
    <p><a href="/cat_care">Cat Care</a></p>
    <p><a href="/log_in">Have a Pet to Give Away</a></p>
    <p><a href="/log_out">Log Out</a></p>
    <p><a href="/contact_us">Contact Us</a></p>
</div>