<!-- Exercice 4 - Step 3 of the Running Project - Adopt a Dog/Cat -->
<!-- Privacy/Disclamer Statement page -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Exercice 4 - Privacy/Disclamer Statement</title>
        <link rel="stylesheet" href="Question7.css">
        <meta charset="utf-8">
        <script src="javascript.js"></script>
    </head>
    <body>
        <!-- header of the webpage -->
        <%- include('header') %>

        <!-- Side menu bar-->
        <%- include('menu') %>

        <!-- Content of the browse available pets-->
        <div class="content">
            <h1>Privacy/Disclamer Statement</h1>
            <p>
                At Little Paws Animal Rescue Organization, we are committed to protecting your privacy and ensuring the security of any personal information you provide to us.
                We value the trust you place in us and want to assure you that we will not sell, rent, or distribute your personal information to any third parties without your consent.
                This privacy policy explains how our non-profit organization is dedicated to
                helping homeless animals in our community in order to find loving homes by collecting and using your personal information when you join us in this mission.
            </p>
            <p>
                Little Paws Animal Rescue Organization appreciates your understanding and support and look forward to serving you with integrity and respect. If you have any further questions or concerns, please do not hesitate to
                <span class="link"><a href="/contact_us">Contact Us.</a></span>
            </p>
        </div>

        <!-- Footer -->
        <%- include('footer') %>
    </body>
</html>

<!-- Bibliography:
    - LOGO: The logo for this website page was created using Canva.com
    reference: https://www.canva.com/design/play?type=TAB7AVEOUWQ&category=tACZCvjI6mE&locale=en
-->